# Python
__pycache__/
*.pyc
.venv/
.env

# Editor/OS
.vscode/
.idea/
.DS_Store

# Local outputs
out/
*.log

# Kube creds / secrets (never commit!)
kubeconfig*
secrets/
out/
tmp/
.env
.kube/

out/
tmp/
.env
*.secret.yaml
.kube/
**/*.kubeconfig
*.log
gitleaks.sarif
trufflehog.json
*.bak
